@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Customerlayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#Search").autocomplete({
            source: function (reg, res) {
                var Search = $("#Search").val();
                if (Search != null) {
                    $.getJSON("/FoodPort/GetAddress", { Address: Search }, function (data) {
                        res(data)
                    });
                }
            }, minLength: 3, delay: 100
        });
        $("#btn_search").click(function () {
            var search = $("#Search").val();
            var url = "/Customer/getpartialrestaurant?Search=" + search;
            $.get(url, null, function (data) {
                $("#show").html(data);
            });
        });
    });
</script>


<div class="form-inline">
    <div align="center" style="font-size:35px; margin-top:20px; color:white;">Order from Restaurants near you</div>
    <div align="center" style="margin-top:15x;">
        <input type="text" class="form-control" id="Search" placeholder="Enter Locality/City/State">
        <input type="submit" class="btn btn-default" id="btn_search" value="Search">
    </div>
</div>
<br />
<div align="center" style="color:red; ">
    @ViewBag.msg
</div>

<div id="show">

</div>