@{
    ViewBag.Title = "Successful";
    Layout = "~/Views/Shared/Customerlayout.cshtml";
}
<div align="center">
    <h2>Order Placed</h2>
    <br/>
    <p>Transaction ID: @ViewBag.transid</p>
    <br/>
    <p>Order ID: @ViewBag.Orderid</p>
</div>