@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<div align="center">
    <h1>FoodPort</h1>
    <p>"FoodPort is a food ordering and delivery company based out of Pune, India. FoodPort was inspired by the </p>
    <p>thought of providing a complete food ordering and delivery solution from the best neighbourhood restaurants </p>
    <p>to the urban foodie. A single window for ordering from a wide range of restaurants, we have our own exclusive </p>
    <p>fleet of delivery personnel to pickup orders from restaurants and deliver it to customers . Having our own fleet </p>
    <p>gives us the flexibility to offer customers a no minimum order policy on any restaurant and accept online </p>
    <p>payments for all partner restaurants that we work with. Our delivery personnel carry one order at a time which </p>
    <p>ensures we get reliable and fast deliveries."</p>
</div>