@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

    <div class="form-inline">
        <div align="center" style="font-size:35px; margin-top:120px; color:white;">Order from Restaurants near you</div>
    </div>
    <br/>
