@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<div align="center">
    <h1>Account Created successfully</h1>
    <br/>
    <br/>
    <h2>Welcome @ViewBag.name</h2>
    <br/>
    <p>Your Customer ID: @ViewBag.id</p>
    <br/>
    <p>Your LogIn ID: @ViewBag.userid</p>
</div>

