@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div align="center">
    <h1>Account Created successfully</h1>
    <br />
    <br />
    <h2>Name @ViewBag.name</h2>
    <br />
    <p>ID: @ViewBag.id</p>
    <br />
    <p>LogIn ID: @ViewBag.userid</p>
</div>
